:root {
    --primary-color: #fcf9fb;
    --secondary-color: #50595e;
    --tertiary-color: #111111;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0 7px 7px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  
  
  /* FOOTER STYLES START */
  footer {
    background: var(--tertiary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
 
  }
  footer h2 {
    color: #fcf9fb;
  }
  footer div {
    line-height: 1.5;
    text-align: right;
    color: var(--primary-color);
  }
  /* END FOOTER STYLES */
  
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 60px;
  }
  
  /* HERO STYLES START */
  .hero {
    display: flex;
    justify-content:right;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    display: inline-block;
    vertical-align: top;
    float: right;
  }

  img.rounded-corners {
    border-radius: 70px;
  }
  /*end hero styling*/
  

  /*begin styling about me, work history, projects and contact me*/
  .column {
    width: auto;
    text-align: left;
    margin: auto;
    color: black;
    font-size: medium;
    line-height: normal;
    display: inline-block;
    vertical-align: top;
  }
  
  .column h2{
    font-family: cursive;
    font-size: 55px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  /*end styling of about me, work history, projects and contact me*/
  
.Project-grid {
  columns: 3;
  display: flex;
  flex-wrap: wrap;
 border-color: #111111;
 border-style: double;
}
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
  